<!-- ARTICLES -->
<section class="pt-7 pt-md-10">
    <div class="container">
        <div class="row align-items-center mb-5">
            <div class="col-12 ">

                <!-- Heading -->
                <h3 class="mb-4">
                    Dernières actualités
                </h3>

                <!-- Text -->
                <p class="mb-4 text-muted">
                     Vous trouverez mes toutes dernieres actualités.
                </p>

            </div>

        </div> <!-- / .row -->
        <div class="row">
            {% for blogpost in blogposts %}
            <div class="col-12  col-lg-4 d-flex">

                <!-- Card -->
                <div class="card shadow-light-lg lift lift-lg mb-6" data-aos="fade-up" data-aos-delay="100">

                    <!-- Body -->
                    <a class="card-body my-auto" href="{{ path('actualité_detail',{'slug':blogpost.slug}) }}">

                        <!-- Heading -->
                        <h3>
                            {{ blogpost.titre }}
                        </h3>

                        <!-- Text -->
                        <p class="mb-0 text-muted">
                            {{ blogpost.contenu|u.truncate(150 ,'...',false) }}
                        </p>

                    </a>

                    <!-- Meta -->
                    <a class="card-meta " href="{{ path('actualité_detail',{'slug':blogpost.slug}) }}">

                        <!-- Divider -->
                        <hr class="card-meta-divider">

                        <!-- Date -->
                        <p class="h6 text-uppercase text-muted mb-0 ms-auto">
                            <time datetime="2019-05-02"> Publié le {{ blogpost.createdAt|date('d/m/y') }}</time>
                        </p>

                    </a>

                </div>

            </div>
      {% endfor %}
        </div>
    </div> <!-- / .container -->
</section>