{%  extends 'base.html.twig' %}
{% block title %} Détail d'une realisation {% endblock %}

{% block body %}

    <div class="container-fluid px-md-0">
        <div class="row justify-content-between gx-0 mx-md-0 mb-6 mb-md-2">
            <div class="col-12 col-md-3 vh-md-100 mx-auto" style="top:0;">
                <aside class="flex-grow-1 py-8 py-md-10">
                    <div>
                        <h2>{{ peinture.nom }}</h2>
                        {% for categorie in peinture.categorie %}
                        <span class="badge bg-primary">{{ categorie.nom }}</span>
                        {% endfor %}
                    </div>
                    <P class="fs-lg mb-7 text-muted">
                        {{ peinture.description }}
                    </P>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item ">
                            <h6 class="d-flex mb-0 text-uppercase">
                                Date de réalisation
                                <span class="ms-auto">{{ peinture.dateRealisation|date('d/m/y') }}</span>
                            </h6>

                        </li>
                        <li class="list-group-item ">
                            <h6 class="d-flex mb-0 text-uppercase">
                                Largeur
                                <span class="ms-auto">{{ peinture.largeur }}cm</span>
                            </h6>

                        </li>
                        <li class="list-group-item ">
                            <h6 class="d-flex mb-0 text-uppercase">
                                Hauteur
                                <span class="ms-auto">{{ peinture.hauteur }}cm</span>
                            </h6>

                        </li>
                        {% if peinture.enVente %}
                        <li class="list-group-item ">
                            <h6 class="d-flex mb-0 text-uppercase">
                                <strong>Disponible à la  vente</strong>
                                <span class="ms-auto"> <strong>{{ peinture.prix }}$</strong></span>
                            </h6>
                            {% endif %}
                    </ul>
                </aside>

            </div>
            <div class="col-12 col-md-8">
                <section class="pt-md-10">
                    <img src="{{ vich_uploader_asset(peinture ,'imageFile')| imagine_filter('full')}}" alt="" class="w-100 h-auto">

                </section>
            </div>
        </div>
    </div>

    {% include 'commentaires/form.html.twig' %}
    {% include 'commentaires/commentaire.html.twig' %}
{% endblock %}